.users_list:last-child {
  border-bottom: 1px solid var(--pancake-border);
}

.user-card-container {
  flex: 2;
  padding: 24px 0;
}



@keyframes softPopIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.user-animate-item {
  animation: softPopIn 0.15s ease-out forwards;
  opacity: 0;
}